<div class="bg-img">
        <marquee behavior="" direction=""><h1 style="color:red;font-family:cursive;">Welcome , ustLibrary!!</h1></marquee>
        <!-- <div>
                <table>
         <tr>
             <td>
                <h1 style="color:blue;text-align: center;">library timming</h1>
                 </td>
                <br>
         </tr>  
         <tr class="float-center">
              <td>       
                <h1 style="color:red;text-align: center;">monday-friday:10AM to 5AM</h1>
            </td><br>

         </tr>
         <tr>  
            <td>
                <h1 style="color:red;text-align: center;">saturday:10AM to 2AM</h1>
            </td> <br>
        </tr>
        <tr>
           <td>
                <h1 style="color:red;text-align: center;">saturday:Holiday</h1>
        </td>
         </tr>
        </table>
            </div> -->
</div>