<form class="col-md-4 mt-4 offset-4 card card-body float-center">
    <div class="form-group">
        <input type="text" name="name" id="name" placeholder="enter the name" class="md-4 mt-4 form-control">
    </div>
    <div class="form-group">
        <input type="password" name="pass" id="pass" placeholder="enter the password" class="md-4 mt-4 form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="bg-success" >login</button>
    </div>
</form>
<img [src]="imgName" width=700px; height=400px; class="ml-5 " >
<img [src]="imgPic" width=700px; height=400px;>
<img [src]="picture" width=700px; height=400px class="ml-5">
<img [src]="pic" width=700px; height=400px;>

<h1 [style.color]="ColorName" class="float-center bg-primary" [class.bg-success]="isActive">my man name is harshavardhan gowda</h1>
